/* 
black       #0F102A
sky blue    #19B8E1
dark blue   #242C7D
blue        #1183C5
*/

/* 
black       #5b308c
sky red     #FB736B
dark blue   #D33867
red         #EC5B64
*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    --borderguide: 1px white solid;
    --borderguide: none;
}

.rubik-scribble-regular {
    font-family: "Rubik Scribble", system-ui;
    font-weight: 400;
    font-style: normal;
}

.lobster-regular {
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
   

:root.cold{
    --blackcol: #121446;
    --lightcol: #19B8E1;
    --mediumcol: #1183C5;
    --darkcol: #242C7D;
    color: #f0ffff;
    --img1 : url(../images/coldwave1.svg);
    --img2 : url(../images/coldwave2.svg);
    --img3 : url(../images/coldwave3.svg);
    --bg1 : url(../images/coldbackground.png)
}

:root.warm{
    --blackcol: #5b308c;
    --lightcol: #FB736B;
    --mediumcol: #D33867;
    --darkcol: #EC5B64;
    color: azure;
    --img1 : url(../images/warmwave1.svg);
    --img2 : url(../images/warmwave2.svg);
    --img3 : url(../images/warmwave3.svg);
    --bg1 : url(../images/warmbackground.png)
}

header{
    z-index: 19;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    border: var(--borderguide);
    background-image: var(--bg1);
    background-size: cover;
    background-repeat: no-repeat;
}

.hbackground{
    border: var(--borderguide);
    overflow-x: hidden;
    min-height: 100vh;
    z-index: 20;
}

.theme{
    width: 1.5rem;
    filter: invert(92%) sepia(1%) saturate(1618%) hue-rotate(141deg) brightness(107%) contrast(103%);
    position: absolute;
    top: 2.5rem;
    left: 14vw;
    transform: scale(2);
    transition: transform 1s;
}

.headerwave {
    width: 150vw;
    height: 250px;
    fill: var(--mediumcol);
    transition: fill 1.5s;
}

/* my picture */

.mypiccon{
    border: var(--borderguide);
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;

}

.mypic{
    width: max(15vw);
}


.blobcon{
    position: absolute;
    top: -50px;
    right: 0px;
    width: 50vw; 
    border: var(--borderguide);
    overflow: clip;
}

.relablob{
    border: var(--borderguide);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    animation: fadein 2s forwards;
}


@keyframes grow {
    from{
        transform: scale(0);
        opacity: .2;
    }
    to{
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes fadein {
    0%{
        transform: translateY(100%);
        opacity: 0;
    }
    70%{
        transform: translateY(-8%);
        opacity: .6;
    }
    

    100%{
        transform: translateY(0%);
        opacity: 1;
    }
}

p#greeting{
    display: flex;
    border: var(--borderguide);
    align-items: center;
    position: absolute;
    text-align: center;
    z-index: 21;
    margin: 0 12vw 0 12vw;
    font-size: max(1.3rem, 2.3vw);
    min-width: 225px;
    min-height: 80px;
    font-family: "Rubik Scribble", system-ui;
    font-weight: 900;
    animation: wobble 10s infinite linear;
}

@keyframes wobble {
    0%{
        transform: skewX(0deg);
    }
    30%{
        transform: skewX(8deg);
    }
    50%{
        transform: skewX(0deg);
    }
    75%{
        transform: skewX(-8deg);
    }
    100%{
        transform: skewX(0deg);
    }
}

.blob{
    position: absolute;
    width: max(400px,40vw);
    fill: var(--lightcol);
    transition: fill 1s;
    animation: blobspin 20s reverse ease-in infinite;
}


.slow{
    animation: blobspin 30s alternate-reverse infinite;
}

.slower{
    animation: blobspin 25s linear infinite;
}


@keyframes blobspin {
    0%{
        transform: rotate(0deg) scale(1)
    }
    40%{
        transform: rotate(150deg) scale(.8)
    }
    100%{
        transform: rotate(360deg) scale(1);
    }
}



.headfoot{
    z-index: 20;
    width: 100%;
    max-width: 100vw;
    aspect-ratio: 5 / 1;
    border: var(--borderguide);
    background-image: var(--img1);
    background-size: auto 105%;
    background-repeat: no-repeat;
    animation: wavefade 16s infinite;
    transition: transform liner;
}

@keyframes wavefade {
    0%{
        background-image: var(--img1);
        transform: translateY(-75%);
    }
    20%{
        transform: translateY(-80%);
    }
    33%{
        background-image: var(--img2);
        transform: translateY(-85%);
    }
    50%{
        transform: translateY(-80%);
    }
    67%{
        background-image: var(--img3);
        transform: translateY(-75%);
    }
    83%{
        transform: translateY(-70%);
    }
    100%{
        background-image: var(--img1);
        transform: translateY(-75%);
    }
}


main{
    z-index: 30;
    background-color: var(--blackcol);
    height: 100vh;
    transition: background-color .5s;
}





